<?xml version="1.0" encoding="utf-8"?>	
	
<launch>

  <node name="state_estimation" pkg="arc_state_estimation" type="state_estimation" output="screen"/>

  <node pkg="rviz" name="myrviz" type="rviz" args="home/catkin_ws/src/arc_state_estimation/launch/default.rviz" />
	
  <!-- starting GPS -->
  <node name="gps" pkg="ublox_gps" type="ublox_gps" output="screen">
   <param name="device" type="string" value="/dev/ttyACM0"/>
   <param name="frame_id" type="string" value="gps"/>
   <param name="baudrate" type="int" value="57600"/>
   <param name="rate" type="int" value="10"/>
   <param name="enable_sbas" type="bool" value="false"/>
   <param name="dynamic_model" type="string" value="portable"/>
   <param name="fix_mode" type="string" value="both"/>
   <param name="dr_limit" type="int" value="0"/>
   <param name="enable_beidou" type="bool" value="false"/>
   <param name="enable_glonass" type="bool" value="false"/>
   <param name="enable_ppp" type="bool" value="false"/>
   <param name="ublox_version" type="int" value="8"/>
   <param name="initializing_samples" type="int" value="50"/>
  </node>
	
  <!-- starting Rovio -->
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
   <param name="filter_config" value="$(find rovio)/cfg/rovio_test.info"/>
   <param name="camera0_config" value="$(find rovio)/cfg/rovio_cam0.yaml"/>
   <param name="camera1_config" value="$(find rovio)/cfg/rovio_cam1.yaml"/>
  </node>

  <!-- starting ORB_SLAM --> 
  <node pkg="orb_slam2" type="stereo" name="stereo" args="$(find orb_slam2)/cfg/ORBvoc.txt   $(find orb_slam2)/cfg/ARC.yaml true" output="screen" />

  <!-- transform (VI to velodyne) publisher node (needed for periodic assembler) --> 
  <node pkg="tf" type="static_transform_publisher" name="rovio_to_velodyne_broadcaster" args="0.0 0.9 -1.0 0.5 0.5 0.5 -0.5 vi velodyne 100" /> 
  <!-- transform (velodyne to rear_axle) publisher node (needed for periodic assembler) --> 
  <node pkg="tf" type="static_transform_publisher" name="velodyne_to_rear_axle_broadcaster" args="-0.5786 0.0 -1.0705 0.0 0.0 0.0 1.0 velodyne rear_axle 100" /> 

  <!-- path frame --> 
  <node pkg="tf" type="static_transform_publisher" name="path" args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 odom path 100" />
	
</launch>


